html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
body {
  margin: 63.42px 0px 0px 0px;
  box-sizing: border-box;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.header {
  box-sizing: border-box;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.fa-bank {
  color:white;
  font-size: 100px;
  padding: 1rem;
}
.header-left-box, .header-middle-box, .header-right-box {
  box-sizing: border-box;
}
.header-right-box {
  margin-right: 10px;
}

.header-left-box button,
.header-right-box button,
.close {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
}

.header-left-box button {
  background-color: #333333;
}
.fa,
.fas {
  margin: 0 10px;
}
.header-right-box button {
  border-radius: 20px;
  padding: 10px;
}

#joinBtn {
  background-color: #333333;
  border: 1px solid #fff;
}

#signOnBtn {
  background-color: red;

}


@media screen and (max-width: 700px){
 #menuOption {
   visibility: hidden;
 }
  #searchBtnSelected {
    display: none;
  }
  #joinBtn {
    display: none;
  }
  .fa-bank {
    font-size: 50px;
  }
}

@media screen and (max-width: 370px){
.header-right-box button {
 
  padding: 5px;
}
}




/* The overlay style - menu option, when clicked */
.menu-container {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.menu-choices {
  background-color: #ffffff;
  width: 100%;
  height: 350px;
  position: fixed;
  top: 39px;
  display: flex;
  justify-content: space-around;
}

.menu-left,
.menu-middle,
.menu-right {
  width: 50%;
}
.menu-left {
  border-right: 1px solid red;
  padding-left: 20px;
}
.menu-middle {
  border-right: 1px dashed black;
}
.menu-middle,
.menu-right {
  padding-left: 20px;
}

.menuChoices button {
  font-size: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.menuChoices .active {
  background-color: red;
}

.menu-middle-choices,
.menu-right-choices {
  padding: 10px 0px;
}

.menu-middle-choices a,
.menu-right-choices a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

@media screen and (max-width: 753px){
  .menu-choices {
     height: 600px;
     top: 59px;
  }
}

/*The Overlay when the search button is clicked*/

.search-container {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.searchBar-background {
  border-top: 2px solid #272727;
  background-color: #333333;
  position: fixed;
  top: 63px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar-div {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.searchBar-div input[type="text"] {
  width: 70%;
  margin: 0;
  float: left;
  outline: none;
  border: none;
}
.searchBar-div button {
  background-color: red;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  font-size: 14px;
  float: left;
  padding: 12px 30px;
  color: white;
  cursor: pointer;
}

/* The overlay style - sign on button when clicked*/

.signOn-Container {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.signOn-background {
  border-top: 2px solid #272727;
  background-color: #333333;
  width: 100%;
  height: 350px;
  position: fixed;
  top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signOn-LoginBox {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 20px;
  
  height: 72%;
  width: 50%;
}

.signOn-LoginBox-Header {
  padding: 0px 10px;
}

.signOn-LoginBox-Credentials {
  display: flex;
  justify-content: space-around;
  
}

.signOn-LoginBox-CardNumber, .signOn-LoginBox-Password {
width: 45%;
}
.signOn-LoginBox-CardNumber p, .signOn-LoginBox-Password p {
  margin-bottom: 0.2rem;

}
.signOn-LoginBox-CardNumber input, .signOn-LoginBox-Password input{
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  outline: none;
}
#SignOn-userInput:focus {
  background-color: lightblue;

}

.signOn-LoginBox-Btn {
  display: flex;
  justify-content: space-around;
  height: 30%;
  align-items: center;
  box-sizing: border-box;
}

.signOn-LoginBox-Format {
  
  width: 45%;
}

#LoginBox-RegisterBtn,
#LoginBox-signOnBtn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
}
#LoginBox-RegisterBtn {
  border: 1px solid #333333;
}
#LoginBox-RegisterBtn:hover {
  color: #ffffff;
  background-color: #333333;
}

#LoginBox-signOnBtn {
  background-color: red;
  color: #ffffff;
  font-weight: bold;
}
#LoginBox-signOnBtn:hover {
  background-color: rgb(219, 16, 16);
}
@media screen and (max-width: 700px){
  .signOn-background {
    height: 450px;
  }
  .signOn-LoginBox {
    height: 60%;
  width: 90%;
  }
}

/*The alert box style*/
.alert-box {
  box-sizing: border-box;
  background-color: #e0f0fd;
  padding: 10px;
  width: 100%;
  
}
.alert-box p {
  padding: 0 20px;
  font-size: 16px;
}

/*First row of content*/
.row-1 {
  box-sizing: border-box;
  border-top: 1px solid #e0f0fd;
  height: 569.52px;
  background-image: url("/images/staringAtBeach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.row-1-content {
  box-sizing: border-box;
  background-color: rgb(246, 244, 244);
  position: absolute;
  top: 80px;
  left: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
}

.row-1-box-top {
  text-align: center;
}
.row-1-box-top h1 {
  margin-bottom: 1rem;
}
.row-1-box-middle {
  display: flex;
  justify-content: space-around;
}
.row-1-box-middle p {
font-size: 18px;
margin: 0.3rem;
}
.row-1-box-middle-left {
  border-right: 2px dashed rgba(31, 31, 31, 0.5);
  padding: 0 15px;
}
.row-1-box-middle-right {
  padding: 0 15px;
}

.row-1-box-bottom {
  display: flex;
  justify-content: center;
  margin: 0.8rem;
}
.row-1-box-bottom button {
  background-color: #333333;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 18px;
  margin: 10px;
  padding: 0.5rem;
  width: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
}
.row-1-box-bottom button:hover {
  background-color: #292929;
  transition: all 0.4s ease;
}

@media screen and (max-width: 700px){

.row-1-content {
  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  box-shadow: none;
}
}


/* Row 2  */
.row-2 {
box-sizing: border-box;
width: 100%;

}
.row-2-heading {
  text-align: center;
  
}
.row-2-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 padding-bottom: 6rem;
 
}

.row-2-content-1,
.row-2-content-2,
.row-2-content-3 {

  margin: 1rem;
  width: 30%;
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
  
}

.row-2-content-1 p,
.row-2-content-2 p,
.row-2-content-3 p {
  font-size: 18px;
  margin-top: 0;
}
.row-2-content-1 h1,
.row-2-content-2 h1,
.row-2-content-3 h1 {
  margin: 2rem 0 0 0;
}

.row-2-content-1 {
  background-color: #333333;
  color: white;
}
.row-2-content-2,
.row-2-content-3 {
  border: 1px solid rgba(128, 128, 128, 0.4);
}

#row-2-content-1-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  color: #333333;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem;
  font-size: 18px;
  transition: all 0.4s ease;
}
#row-2-content-1-btn:hover {
  background-color: #585151;
  color: #ffffff;
  transition: all 0.4s ease;
}

#row-2-content-2-btn,
#row-2-content-3-btn {
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem;
  font-size: 18px;
  transition: all 0.4s ease;
}
#row-2-content-2-btn:hover,
#row-2-content-3-btn:hover {
  background-color: #585151;
  color: #ffffff;
  transition: all 0.4s ease;
}
@media screen and (max-width: 701px){
.row-2 {
  display: flex;
flex-direction: column;
}
.row-2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
flex-wrap:nowrap;
}

.row-2-content-1,
.row-2-content-2,
.row-2-content-3 {
  margin: 0;
  width: 70%;
  text-align: center; 
  padding: 2rem;
}
}

/* Footer */

.footer-container {
  box-sizing: border-box;
  background-color: #333333;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.footer-links{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  
}

.footer-link-wrapper {
  display: flex;
}
.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 160px;
  margin: 16px;
  text-align: left;
}
.footer-link-items h2 {
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-link-items a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.footer-link-items a:hover {
  color: #e7d6d6;
  transition: 0.5 ease-out;
}
.footer-copyright {
  color: white;
  font-style: italic;
}
@media screen and (max-width: 700px) {
  .footer-link-wrapper {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 376px) {
 .footer-link-items {
 
  /* width: 100px; */
  margin: 0px;
 
}
}