body {
    margin: 79.05px 0px 0px 0px; 
  }
  
  .header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .header-left-box, .header-middle-box, .header-right-box {
    padding: 0 10px;

  }
  .header-left-box button, .header-right-box button, .close {
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin: 10px; /*top&bottom(px) right&left(px)*/
      outline: none;
      color: white;
      border: none;
  }

  .header-left-box button{
    background-color: #333333;
    
  }
  .header-right-box button {
      border-radius: 20px;
      padding: 10px;
  }

  #joinBtn{
      background-color: #333333;
      border: 1px solid #fff;
  }

  #signOnBtn {
      background-color: red;
  }

/* The overlay style - menu option, when clicked */
.menu-container{
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


/* The overlay style - sign on button when clicked*/

.signOn-Container {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

}
.signOn-background {
  border-top: 2px solid #272727;
  background-color:#333333;
  width: 100%;
  height: 350px;
  position: fixed;
  top: 79.05px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.signOn-LoginBox {
    background-color: #ffffff;
    width: 50%;
    height: 280px;
    border-radius: 20px;

}

.signOn-LoginBox-Header {
  padding: 0px 10px;
}

.signOn-LoginBox-Credentials {
  display: flex;
  justify-content: space-around;
 
}

.signOn-LoginBox-Credentials-Format{
 
  width: 100%;
  margin:0px;
}

input[type=text], input[type=password]{
  padding: 12px 110px 12px 5px;
}
input[type=text]:focus, input[type=password]:focus{
  background-color: #f5eded;
}

.signOn-LoginBox-Btn {
  display: flex;
  justify-content: space-around;

  height: 30%;
  align-items: center;
}


.signOn-LoginBox-Format{
width: 45%;

}

#LoginBox-RegisterBtn, #LoginBox-signOnBtn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
  
}
#LoginBox-RegisterBtn{
  border: 1px solid #333333;
}
#LoginBox-RegisterBtn:hover {
  color: #ffffff;
  background-color: #333333;
}

#LoginBox-signOnBtn {
  background-color: red;
  color: #ffffff;
  font-weight: bold;
}
#LoginBox-signOnBtn:hover {
  background-color: rgb(219, 16, 16);
}

/*The alert box style*/
  .alert-box { 
    background-color: #E0F0fD;
    padding: 10px;
  }
  
  /*First row of content*/
  .row-1 {
    border: 1px solid black;
    height: 569.52px;
    background-image: url("/images/staringAtBeach.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }
  .row-1-content {
    background-color: #ffffff;
    width: 50%;
    border-radius: 5px;
    margin: 120px 50px;
        
  }
  .row-1-box-top {
      text-align: center;
  }
  .row-1-box-middle {
      display: flex;
      justify-content: space-around;
      border: 1px solid black;    
  }
  .row-1-box-bottom {
      display: flex;
      justify-content: center;
  }
  
  .row-2-content {
    text-align: center;
  }