body {
  margin: 79.05px 0px 0px 0px;
}

.header {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-left-box,
.header-middle-box,
.header-right-box {
  padding: 0 10px;
}
.header-left-box button,
.header-right-box button,
.close {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px; /*top&bottom(px) right&left(px)*/
  outline: none;
  color: white;
  border: none;
}

.header-left-box button {
  background-color: #333333;
}
.fa,
.fas {
  margin: 0 10px;
}
.header-right-box button {
  border-radius: 20px;
  padding: 10px;
}

#joinBtn {
  background-color: #333333;
  border: 1px solid #fff;
}

#signOnBtn {
  background-color: red;
}

/* The overlay style - menu option, when clicked */
.menu-container {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.menu-choices {
  background-color: #ffffff;
  width: 100%;
  height: 350px;
  position: fixed;
  top: 79.05px;
  display: flex;
  justify-content: space-around;
}

.menu-left,
.menu-middle,
.menu-right {
  width: 50%;
}
.menu-left {
  border-right: 1px solid red;
  padding-left: 20px;
}
.menu-middle {
  border-right: 1px dashed black;
}
.menu-middle,
.menu-right {
  padding-left: 20px;
}

.menuChoices button {
  font-size: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.menuChoices .active {
  background-color: red;
}

.menu-middle-choices,
.menu-right-choices {
  padding: 10px 0px;
}

.menu-middle-choices a,
.menu-right-choices a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

/*The Overlay when the search button is clicked*/

.search-container {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.searchBar-background {
  border-top: 2px solid #272727;
  background-color: #333333;
  position: fixed;
  top: 79.05px;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
}
.searchBar-div {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.searchBar-div input[type="text"] {
  width: 70%;
  margin: 0;
  float: left;
  outline: none;
  border: none;
}
.searchBar-div button {
  background-color: red;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  font-size: 14px;
  float: left;
  padding: 12px 30px;
  color: white;
  cursor: pointer;
}

/* The overlay style - sign on button when clicked*/

.signOn-Container {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.signOn-background {
  border-top: 2px solid #272727;
  background-color: #333333;
  width: 100%;
  height: 350px;
  position: fixed;
  top: 79.05px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signOn-LoginBox {
  background-color: #ffffff;
  width: 50%;
  height: 280px;
  border-radius: 20px;
}

.signOn-LoginBox-Header {
  padding: 0px 10px;
}

.signOn-LoginBox-Credentials {
  display: flex;
  justify-content: space-around;
}

.signOn-LoginBox-Credentials-Format {
  width: 100%;
  margin: 0px;
}

input[type="text"],
input[type="password"] {
  padding: 12px 110px 12px 5px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #f5eded;
}

.signOn-LoginBox-Btn {
  display: flex;
  justify-content: space-around;
  height: 30%;
  align-items: center;
}

.signOn-LoginBox-Format {
  width: 45%;
}

#LoginBox-RegisterBtn,
#LoginBox-signOnBtn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
}
#LoginBox-RegisterBtn {
  border: 1px solid #333333;
}
#LoginBox-RegisterBtn:hover {
  color: #ffffff;
  background-color: #333333;
}

#LoginBox-signOnBtn {
  background-color: red;
  color: #ffffff;
  font-weight: bold;
}
#LoginBox-signOnBtn:hover {
  background-color: rgb(219, 16, 16);
}

/*The alert box style*/
.alert-box {
  background-color: #e0f0fd;
  padding: 10px;
}
.alert-box p {
  text-indent: 20px;
  font-size: 16px;
}

/*First row of content*/
.row-1 {
  border-top: 1px solid #e0f0fd;
  height: 569.52px;
  background-image: url("/images/staringAtBeach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.row-1-content {
  background-color: rgb(246, 244, 244);
  position: absolute;
  top: 80px;
  left: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.row-1-box-top {
  text-align: center;
}
.row-1-box-top h1 {
  margin-bottom: 1rem;
}
.row-1-box-middle {
  display: flex;
  justify-content: space-around;
}
.row-1-box-middle-left {
  border-right: 2px dashed rgba(31, 31, 31, 0.5);
  padding: 0 15px;
}
.row-1-box-middle-right {
  padding: 0 15px;
}

.row-1-box-bottom {
  display: flex;
  justify-content: center;
}
.row-1-box-bottom button {
  background-color: #333333;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 18px;
  margin: 10px;
  padding: 0.5rem;
  width: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
}
.row-1-box-bottom button:hover {
  background-color: #292929;
  transition: all 0.4s ease;
}

.row-2-heading {
  text-align: center;
}
.row-2-container {
  display: flex;
  justify-content: space-around;
}

.row-2-content-1,
.row-2-content-2,
.row-2-content-3 {
  margin: 1rem;
  max-width: 20rem;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.row-2-content-1 p,
.row-2-content-2 p,
.row-2-content-3 p {
  font-size: 18px;

  margin-top: 0;
}
.row-2-content-1 h1,
.row-2-content-2 h1,
.row-2-content-3 h1 {
  margin: 2rem 0 0 0;
}

.row-2-content-1 {
  background-color: #333333;
  color: white;
}
.row-2-content-2,
.row-2-content-3 {
  border: 1px solid rgba(128, 128, 128, 0.4);
}

#row-2-content-1-btn {
  background-color: #ffffff;
  outline: none;
  border: none;
  color: #333333;
  cursor: pointer;
  border-radius: 20px;
  width: 15rem;
  padding: 0.5rem;
  font-size: 18px;
  transition: all 0.4s ease;
}
#row-2-content-1-btn:hover {
  background-color: #585151;
  color: #ffffff;
  transition: all 0.4s ease;
}

#row-2-content-2-btn,
#row-2-content-3-btn {
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 20px;
  width: 15rem;
  padding: 0.5rem;
  font-size: 18px;
  transition: all 0.4s ease;
}
#row-2-content-2-btn:hover,
#row-2-content-3-btn:hover {
  background-color: #585151;
  color: #ffffff;
  transition: all 0.4s ease;
}
